media screen and (max-width: 767px)
.html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ","Meiryo UI",'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif!important;
    -webkit-text-size-adjust: 100%;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
#page-save {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 14px;
    z-index: 99;
}
#page-save a {
    text-decoration: none;
    color: #fff;
    width: 120px;
    padding: 20px 5px;
    text-align: center;
    display: block;
    border-radius: 5px;
    background-color:rgba(65,150,65,0.8);
}
.warn-msg{
    position: fixed;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    padding: 20px 10px;
    display: block;
    border-radius: 5px;
    background-color:rgba(169,68,66,0.9);
}
.warn-msg-forSmartPhone{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    padding: 20px 10px;
    display: block;
    border-radius: 5px;
    background-color:rgba(169,68,66,0.9);
}
#page-save a:hover {
    text-decoration: none;
    background-color:rgba(65,150,65,1);
}
/*tbody tr:nth-child(6n),
tbody tr:nth-child(6n-1),
tbody tr:nth-child(6n-2) {
    background: #f2f2f2;
}
tbody tr:nth-child(6n-3),
tbody tr:nth-child(6n-4),
tbody tr:nth-child(6n-5){
    background: #fff;
}
*/
.hidden {
    visibility : hidden;
}
.none-form-warning{
    display: none;
    font-size: 22px;
}
.form-warning{
    display: block;
    font-size: 22px;
}
.success-msg{
    display: none; /* 初期状態は非表示 */
    position: fixed;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    background-color:rgba(65,150,65,1);
}
#loader-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #fff;
	z-index: 1;
}
#loader {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	text-align: center;
	color: #fff;
	z-index: 2;
}
#contents{
	width:100%;
	font-size:50px;
	margin: 40px auto;
}
.cp_link {
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
}
.cp_link:hover {
	color: #fff;
	background-color: #00BCD4;
	text-decoration: none;
	cursor: pointer;
}
#menu div {
  position: relative;
}
.arrow_box {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #000;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #000;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.dateLink{
  cursor: pointer;
  cursor: hand;
}
table.dataTable thead th {
  /* ソートの矢印の画像を FontAwesome のアイコンに置き換える。*/
  position: relative;
  background-image: none !important;
}

.sorting:after,
.sorting_asc:after,
.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
  }

.sorting:after {
    content: '\f0dc';
  }
.sorting_asc:after {
    content: '\f0de';
  }
.sorting_desc:after {
    content: '\f0dd';
  }