@(message: String, appEmp:String, year:String, month:String, appFormList: List[models.form.ApproveForm])
@import play.i18n._
@import helper._
@main(Messages.get("header.title","承認一覧")) {
<!-- PDFボタン用script start -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.extablefilter-latest.js"></script>
<!-- PDFボタン用script end -->
<section class="content">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h2><i class="fa fa-pencil-square-o"></i> @Messages.get("attendance.titleDate",year,month)</h2>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  margin-bottom">
          <div class="col-md-12 col-sm-12 col-xs-12 visible-xs form-inline margin-bottom">
            <label>年月を指定して移動：</label>
            <input value="" class="form-control datepicker moveYearMonth" style="display: inline; width: 75%;">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline">
            <button type="button" class="btn btn-info pdf" style="margin-right: 10px">
              <i class="fa fa-file-text"></i>
              @Messages.get("attendance.pdf")
            </button>
            <div class="pull-right hidden-xs">
              <label>年月を指定して移動：</label>
              <input value="" class="form-control datepicker moveYearMonth">
            </div>
          </div>
          <!--
          <label>始業:</label>
          <input value="" class="form-control clockpicker" >
          <label>終業:</label>
          <input value="" class="form-control clockpicker" >
          <button type="button" class="btn btn-default">すべての勤怠に定時入力</button>
          -->
        </div>
      </div>
   </div>
</div>
	<div>
        <table id="tabelData" class="table table-bordered">
          <thead style="background: #d3e5ff;">
          <tr>
            <th rowspan="2">No.</th>
            <th colspan="3">社員ステータス</th>
            <th colspan="3">承認内容</th>
            <th rowspan="2">状況</th>
            <th colspan="2" rowspan="2">承認</th>
            <th rowspan="2">承認者</th>
            <th rowspan="2">承認日時</th>
          </tr>
          <tr>
          	<th>社員番号</th>
            <th>社員名</th>
            <th>業務チーム名</th>
            <th>日付</th>
            <th>内容</th>
            <th>備考欄</th>
          </tr>
          </thead>
          <tbody>
          <!-- TODO フォーム化 -->
          @for(app <- appFormList ){
 			<tr>
            <td>@app.appNo</td>
            <td>@app.employeeNo</td>
            <td>@app.employeeName</td>
            <td>@app.bsCode</td>
            <td>@year/@month/@app.performanceDate</td>
            <td valign="middle">@app.contents</td>
            <td>@app.remarks</td>
            <td>@app.performanceStatus</td>
            <td>
            	<button type="button" id="approveButton" class="btn btn-primary pdf" style="margin-right: 10px">
					<!-- <i class="fa fa-file-text"></i> -->
              			承認する
    			</button>
    		</td>
    		<td>
    			<button type="button" id="notApproveButton" class="btn btn-primary pdf" style="margin-right: 10px" >
					<!-- <i class="fa fa-file-text"></i> -->
              			不可
    			</button>

    		</td>
    		<td>@app.approvalEmployeeName</td>
            <td>@app.approvalDate</td>
          </tr>
			}
          </tbody>
        </table>
	</div>

</section>
<script>
  $(function(){
  	$(".updateButton").click(function () {
      var url = '@routes.ApproveCtl.index("","")'

      $.ajax({
        type : 'GET',
        url : url
      });
    });

    $(".approveButton").click(function () {
      var url = '@routes.ApproveCtl.updateApprove("0","0","0","0")'
   //   url = url.substring(0, url.length - 7) + hiddensalaried;
      $.ajax({
        type : 'GET',
        url : url,
        success : function(data) {
          if (data.result == "ok") {
            window.location.href = data.link;
          }
        }
      });
    });

    $(".notApproveButton").click(function () {
      var url = '@routes.ApproveCtl.updateNotApprove("0","0","0","0")'
      $.ajax({
        type : 'GET',
        url : url,
        success : function(data) {
          if (data.result == "ok") {
          	$(".notApproveButton").prop('disabled', true);
            window.location.href = data.link;
          }
        }
      });
    });

    $('.datepicker').datepicker({
      format: 'yyyy/mm',
      language: 'ja',
      autoclose: true,
      minViewMode: 'months'
    }).on({
      changeDate : function(){
        var yearMonth = $(this).val();
        alert(yearMonth);
        var nowYearMonth = $('#monthsYears').val();
        var empNum = '@appEmp';
        var url = '@routes.ApproveCtl.moveTargetYearMonth("0","0","0")';
        url = url.substring(0, url.length - 5) + empNum + '/' + yearMonth.replace("/","") + '/' + nowYearMonth;
        $.ajax({
          type : 'GET',
          url : url,
          success : function(data) {
            if (data.result == "ok") {
              window.location.href = data.link;
            }
          }
        });
      }
    });
  });
</script>
}