@(message: String,year:String, month:String, appFormList: List[models.form.ApproveForm],empNo: String, empName: String)
@import play.i18n._
@import helper._
@main(messages.at("header.title","承認一覧"),empNo,empName) {
<section class="content">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h2><i class="fa fa-pencil-square-o"></i> @messages.at("titleDate",year,month)</h2>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  margin-bottom">
          <div class="col-md-12 col-sm-12 col-xs-12 visible-xs form-inline margin-bottom">
            <label>@messages.at("moveYearMonth")</label>
            <input value="" class="form-control datepicker moveYearMonth" style="display: inline; width: 75%;">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline">
     <!--        <button type="button" class="btn btn-info pdfBtn" style="margin-right: 10px">
              <i class="fa fa-file-text"></i>
              @messages.at("attendance.pdf")
            </button>  -->
            <div class="pull-right hidden-xs">
              <label>@messages.at("moveYearMonth")</label>
              <input value="" class="form-control datepicker moveYearMonth">
            </div>
          </div>
        </div>
      </div>
	<div>
	@if(appFormList.isEmpty()){
	          対象のデータはありません。
	} else {
        <table id="tabelData" class="table table-bordered">
          <thead style="background: #d3e5ff;">
          <tr>
            <th class="hidden-xs" rowspan="2">No.</th>
            <th class="hidden-xs" colspan="3">社員ステータス</th>
            <th class="hidden-xs" colspan="3">承認内容</th>
            <th class="hidden-xs" rowspan="2">状況</th>
            <th class="hidden-xs" colspan="2" rowspan="2">承認</th>
            <th class="hidden-xs" rowspan="2">承認者</th>
            <th class="hidden-xs" rowspan="2" width="8%">承認日時</th>
          </tr>
          <tr>
          	<th width="6%">社員番号</th>
            <th width="8%">社員名</th>
            <th class="hidden-xs">業務チーム名</th>
            <th width="8%">日付</th>
            <th width="15%">内容</th>
            <th class="hidden-xs">備考欄</th>
          </tr>
          </thead>
          <tbody>
          @for(app <- appFormList ){
	          @form(action = routes.ApproveCtl.updateApprove(app.employeeNo, year+month,app.performanceDate,0), 'id -> "inputForm") {
	          <tr id="@app.appNo">
	         	 <input type="hidden" id="employeeNo@app.appNo" name="employeeNo" value="@app.employeeNo">
	              <input type="hidden" id="monthsYears@app.appNo" name="monthsYears" value="@app.monthsYears">
	              <input type="hidden" id="date@app.appNo" name="date" value="@app.performanceDate">
	              <input type="hidden" id="appNo@app.appNo" name="appNo" value="@app.appNo">
	            <td>@app.appNo</td>
	            <td>@app.employeeNo</td>
	            <td>@app.employeeName</td>
	            <td>@app.bsCode</td>
	            <td><a class="dateLink">@year/@month/@app.performanceDate</a></td>
	            <td valign="middle">@app.contents</td>
	            <td>@app.remarks</td>
	            <td id="@app.appNo" class="status" valign="middle">@app.performanceStatus</td>
		            <td><button id="approveButton-@app.appNo" type="button" class="btn btn-success approveButton" style="margin-right: 10px">承認する</button></td>
		            <td><button id="notApproveButton-@app.appNo"type="button" class="btn btn-danger notApproveButton" style="margin-right: 10px" >却下</button></td>
	    		<td class="hidden-xs">@app.approvalEmployeeName</td>
	            <td class="hidden-xs">@app.approvalDate</td>
	          </tr>
	          }
			}
          </tbody>
        </table>
	</div>
	}
   </div>
   <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  margin-bottom">
          <div class="col-md-12 col-sm-12 col-xs-12 visible-xs form-inline margin-bottom">
            <label>@messages.at("moveYearMonth")</label>
            <input value="" class="form-control datepicker moveYearMonth" style="display: inline; width: 75%;">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline">
    <!--         <button type="button" class="btn btn-info pdfBtn" style="margin-right: 10px">
              <i class="fa fa-file-text"></i>
              @messages.at("attendance.pdf")
            </button>  -->
            <div class="pull-right hidden-xs">
              <label>@messages.at("moveYearMonth")</label>
              <input value="" class="form-control datepicker moveYearMonth">
            </div>
          </div>
        </div>
      </div>
</div>
</section>
<div class="hidden warn-msg">
  <p id="warn-msg-title"><i class="fa fa-exclamation-circle"></i>@messages.at("errorModal.message.header")</p>
  <div align="right">
    <small>@messages.at("errorModal.message.footer")</small>
  </div>
</div>
<div class="hidden success-msg fa fa-thumbs-o-up">
</div>
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <h4 class="modal-title" id="exampleModalLabel">@messages.at("pdfModal.title")</h4>
      </div>
      <div class="modal-body">
        <p>@messages.at("pdfModal.message.header")</p>
        <button type="button" id="normalPdf" class="btn btn-default" value="target='_blank'" onClick="window.open('@routes.AttendancePdfCtl.index(year,month,1)','_blank','')">社員用(ノーマル)</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    if(localStorage.saveMsg){
      $(".success-msg").removeClass("hidden");
      $('.success-msg').text(" " + localStorage.saveMsg).fadeIn(1000).delay(2000).fadeOut(2000);
      localStorage.removeItem('saveMsg');
    }else if(navigator.userAgent.match(/(iPhone|iPod|Android)/)){
      $(document).ready(function () {
        setTimeout(function() { window.scrollTo(0,$('#attendanceSaveTop').offset().top); }, 1);
      });
    }

    $('.datepicker').datepicker({
      format: 'yyyy/mm',
      language: 'ja',
      autoclose: true,
      minViewMode: 'months'
    }).on({
      changeDate : function(){
        var yearMonth = $(this).val();
        var nowYearMonth = @((year + month).toInt);
        var empNum = '@empNo';
        var url = '@routes.ApproveCtl.moveTargetYearMonth("0","0","0")';
        url = url.substring(0, url.length - 5) + empNum + '/' + yearMonth.replace("/","") + '/' + nowYearMonth;
        $.ajax({
          type : 'GET',
          url : url,
          success : function(data) {
            if (data.result == "ok") {
              window.location.href = data.link;
            }
          }
        });
      }
    });

    $(".warn-msg").click(function () {
      $(this).addClass("hidden");
    });

    $(".approveButton").click(function () {
        $(".warn-msg").addClass("hidden");
        $('.warn-msg-contents').remove();
        $('.save-warn-msg-contents').remove();
	    var targetTr = $(this).closest('tr');
        var targetTrId = targetTr.attr('id');
        var empNo = $('#employeeNo' + targetTrId).val();
        var date = $('#date' + targetTrId).val();
	    var url = '@routes.ApproveCtl.updateApprove("0","0","0",0)';
	    url = url.substring(0, url.length - 7) + empNo + '/' + @year + @month + '/' + date + '/0';
   	 	$.ajax({
          type : 'POST',
          url : url,
          data : $(this.form).serialize(),
     	  success : function(data) {
            if(data.result == "ok"){
              localStorage.saveMsg = '承認を確定しました。';
          	  location.reload();
          	}else if(data.result == "ng"){
              $(".warn-msg").removeClass("hidden");
	          var errorMsgList = data.msg;
	          var alertMsgContents = "";
	          $.each(errorMsgList, function(key, obj) {
	            $.each(obj, function(dId, msg) {
	              var dateId = dId;
	              var dataMsg = msg;
	              var stringDate = dateId + '日';
	              var msgContents = '<p id=' + dateId + ' class=' + 'save-warn-msg-contents' + '>' + stringDate + '&nbsp;-&nbsp;' + dataMsg + '<p>';
	              alertMsgContents = msgContents + '\n'
	              $('#warn-msg-title').after(msgContents);
	              if(navigator.userAgent.match(/(iPhone|iPod|Android)/)){
	                $(".warn-msg").removeAttr('style');
	                $(".warn-msg").css('bottom','20px');
	              }
	            });
	          });
            }else{
               alert('エラーが発生しました。');
            }
          }
      });
    });

    $(".notApproveButton").click(function () {
        $(".warn-msg").addClass("hidden");
        $('.warn-msg-contents').remove();
        $('.save-warn-msg-contents').remove();
	    var targetTr = $(this).closest('tr');
        var targetTrId = targetTr.attr('id');
        var empNo = $('#employeeNo' + targetTrId).val();
        var date = $('#date' + targetTrId).val();
	    var url = '@routes.ApproveCtl.updateApprove("0","0","0",0)';
	    url = url.substring(0, url.length - 7) + empNo + '/' + @year + @month + '/' + date + '/1';
   	    $.ajax({
          type : 'POST',
          url : url,
          data : $(this.form).serialize(),
     	  success : function(data) {
            if(data.result == "ok"){
              localStorage.saveMsg = '承認要請を却下しました。';
          	  location.reload();
          	}else if(data.result == "ng"){
              $(".warn-msg").removeClass("hidden");
	          var errorMsgList = data.msg;
	          var alertMsgContents = "";
	          $.each(errorMsgList, function(key, obj) {
	            $.each(obj, function(dId, msg) {
	              var dateId = dId;
	              var dataMsg = msg;
	              var stringDate = dateId + '日';
	              var msgContents = '<p id=' + dateId + ' class=' + 'save-warn-msg-contents' + '>' + stringDate + '&nbsp;-&nbsp;' + dataMsg + '<p>';
	              alertMsgContents = msgContents + '\n'
	              $('#warn-msg-title').after(msgContents);
	              if(navigator.userAgent.match(/(iPhone|iPod|Android)/)){
	                $(".warn-msg").removeAttr('style');
	                $(".warn-msg").css('bottom','20px');
	              }
	            });
	          });
            }else{
               alert('エラーが発生しました。');
            }
          }
      });
    });

    $(".status").each(function(){
      var targetTrId = $(this).attr('id');
      var text = $(this).text();
      var value = text.substr(text.length-6);
	　  if (value.match('@messages.at("approve.form.unapproved")')){
        $(this).css('color', 'red');
        $(this).css('font-weight', 'bold');
      } else if(value.match('@messages.at("approve.form.alreadyFix")')){
	      $('#approveButton-' + targetTrId).prop('disabled', true);
	      $('#notApproveButton-' + targetTrId).prop('disabled', true);
      } else {
      	 $(this).css('font-weight', 'bold');
      	 $('#approveButton-' + targetTrId).prop('disabled', true);
	     $('#notApproveButton-' + targetTrId).prop('disabled', true);
      }
    });

    $(".pdfBtn").click(function () {
　　　　　$('#pdfModal').modal('show');
    });

	$('#tabelData').DataTable({
	    stateSave: true,
		paging: false,
		searching: false,
		"autoWidth": false,
		columnDefs: [
			{"orderable": false ,"targets": [1,3,5,6,9,10,11] }
		]
	});

	$(".dateLink").click(function(){
	  var targetTr = $(this).closest('tr');
      var targetTrId = targetTr.attr('id');
      var empNo = $('#employeeNo' + targetTrId).val();
      var url = '@routes.ApproveCtl.moveAttendanceByApprove("0","0","0")';
      url = url.substring(0, url.length - 5) + empNo + '/' + @year + '/' + @month;
      $.ajax({
        type : 'GET',
        url : url,
        success : function(data) {
          if(data.result == "ok"){
          window.open(data.link,'_blank','width=1000,height=500,scrollbars=1,location=0,menubar=0,toolbar=0,status=1,directories=0,resizable=1,left='+(window.screen.width-500)/2+',top='+(window.screen.height-500)/2);
          return false;
          }
        }
      });
    });

    $.postAjax = function(formId, callBack, url) {
      var form = (typeof formId == "string" ? $(formId) : formId);
      var accessUrl = null;
      try {
        if(form && form[0]) {
          accessUrl = url ? url : form.attr('action')
          $.ajax({
            url     : accessUrl,
            data    : form.serialize(),
            type    : "POST",
            success : function(data) {
              callBack(data);
            },
            complete : function() {
            }
          });
        }
      } catch(e) {
        alert('エラーが発生しました。');
      }
    };

  });
</script>
}