@(statusAndWorkForm:Form[models.form.StatusAndWorkForm], inputForm: Form[models.form.AttendanceInputFormList], date: List[models.form.DateList], year: String, month: String, existsDefaultValue: Boolean, empNum: String,  hcmList: List[models.MsGeneralCode], attendanceSumForm: models.form.AttendanceSumForm)
<!DOCTYPE html>
<html lang="ja">
<head>
  @* Here's where we render the page title `String`. *@
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@Messages.get("attendance.titleDate",year,month)</title>
  <style>
          html, body{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: "Hiragino Kaku Gothic ProN","メイリオ","Meiryo UI",'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif!important;
            font-size: 10.5px;!important;
          }
          table, td, th{
               border: 1px solid #9c9c9c !important;
               border-collapse: collapse !important;
          }
  </style>
</head>
<body>
@* And here's where we render the `Html` object containing
* the page content. *@
@import play.i18n._

<section class="content-header" id="header">
  <h1>@Messages.get("attendance.titleDate",year,month)</h1>
</section>
  <div style="position: absolute; top: 0px; right: 80px; margin-bottom: 10px; border: 1px solid #333333; width: 70px; height: 70px;">
  </div>
  <div style="position: absolute; top: 0px; right: 0px; margin-bottom: 10px; border: 1px solid #333333; width: 70px; height: 70px;">
  </div>
<p>
  ○ @Messages.get("attendance.employeeNo") : @statusAndWorkForm.get().employeeNo
  / @Messages.get("attendance.employeeName") : @statusAndWorkForm.get().employeeName
  / @Messages.get("attendance.department") : @statusAndWorkForm.get().departmentCode
</p>
<p>
  ● @Messages.get("attendance.workCode") : @statusAndWorkForm.get().businessCode
  / @Messages.get("attendance.workName") : @statusAndWorkForm.get().businessName
</p>
<p>
  ◎ @Messages.get("attendance.workingContents")
  - @Messages.get("attendance.work1")  @statusAndWorkForm.get().breakdownName1
  - @Messages.get("attendance.work2")  @statusAndWorkForm.get().breakdownName2
  - @Messages.get("attendance.work3")  @statusAndWorkForm.get().breakdownName3
  - @Messages.get("attendance.work4")  @statusAndWorkForm.get().breakdownName4
</p>
<div id="container">
  <table class="border-table" style="width: 100%;">
    <thead style="background: #d3e5ff;">
    <tr style="white-space: nowrap;">
      <th rowspan="2" >@Messages.get("attendance.form.date")</th>
      <th colspan="2" >@Messages.get("attendance.form.workTime")</th>
      <th colspan="4" >@Messages.get("attendance.form.workingContents")</th>
      <th colspan="2" >@Messages.get("attendance.form.deduction")</th>
      <th rowspan="2" >@Messages.get("attendance.form.nightWork")</th>
      <th rowspan="2" >@Messages.get("attendance.form.salaried")</th>
      <th rowspan="2" >@Messages.get("attendance.form.holidayClassCode")</th>
      <th rowspan="2" >@Messages.get("attendance.form.total")</th>
      <th rowspan="2" >@Messages.get("attendance.form.remarks")</th>
    </tr>
    <tr>
      <th>@Messages.get("attendance.form.start")</th>
      <th>@Messages.get("attendance.form.end")</th>
      <th>@Messages.get("attendance.form.work1")</th>
      <th>@Messages.get("attendance.form.work2")</th>
      <th>@Messages.get("attendance.form.work3")</th>
      <th>@Messages.get("attendance.form.work4")</th>
      <th>@Messages.get("attendance.form.lateNight")</th>
      <th>@Messages.get("attendance.form.other")</th>
    </tr>
    </thead>
    <tbody style="background:#fff;">
    @date.zipWithIndex.map{ case(d, idx) =>
    <tr class="attendanceForm tableDeta" id="@d.dateId" data-monthsYears="@d.monthsYears" data-date="@d.date" string-date="@d.stringDate" @if(d.isHoliday){style="background: #e6e6e6"}>
      <td width="8%" style="white-space: nowrap;">
        <span class="calendar">@d.stringDate</span>
      </td>
      <td width="7%"><div id="openingTime" name="attendanceInputFormList[@idx].openingTime" class="form-control timePicker openingTime" style="white-space: nowrap;" >@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).openingTime}</div></td>
      <td width="7%"><div id="closingTime" name="attendanceInputFormList[@idx].closingTime" class="form-control timePicker closingTime" style="white-space: nowrap;">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).closingTime}</div></td>
      <td width="5%"><div id="breakdown1" name="attendanceInputFormList[@idx].breakdown1" class="breakdown1 form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).breakdown1}else{0.0}</div></td>
      <td width="5%"><div id="breakdown2" name="attendanceInputFormList[@idx].breakdown2" class="breakdown2 form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).breakdown2}else{0.0}</div></td>
      <td width="5%"><div id="breakdown3" name="attendanceInputFormList[@idx].breakdown3" class="breakdown3 form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).breakdown3}else{0.0}</div></td>
      <td width="5%"><div id="breakdown4" name="attendanceInputFormList[@idx].breakdown4" class="breakdown4 form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).breakdown4}else{0.0}</div></td>
      <td width="6%"><div id="deductionNight" name="attendanceInputFormList[@idx].deductionNight" class="deductionNight form-control" >@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).deductionNight}else{0.0}</div></td>
      <td width="6%"><div id="deductionOther" name="attendanceInputFormList[@idx].deductionOther" class="deductionOther form-control" >@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).deductionOther}else{0.0}</div></td>
      <td width="7%"><div id="nightWork" name="attendanceInputFormList[@idx].nightWork" class="nightWork form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).nightWork}else{0.0}</div></td>
      <td width="7%"><div id="salaried" name="attendanceInputFormList[@idx].salaried" class="salaried form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).salaried}else{0.0}</div></td>
      <td width="8%"><div id="holidayClassName" name="attendanceInputFormList[@idx].holidayClassName" class="holidayClassName form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).holidayClassName}else{0.0}</div></td>
      <td width="6%"><div id="performanceTime" name="attendanceInputFormList[@idx].performanceTime" class="performanceTime form-control">@if(existsDefaultValue){@inputForm.get().attendanceInputFormList.get(idx).performanceTime}else{0.0}</div></td>
      <td width="18%"><div id="remarks" name="attendanceInputFormList[@idx].remarks" class="remarks form-control">@if(existsDefaultValue){ @inputForm.get().attendanceInputFormList.get(idx).remarks }</div></td>
    </tr>
    <!--
    <tr class="tableDeta">

      <td> <label>休暇区分</label></td>
      <td>
        <select id="holidayClass@idx" name="attendanceInputFormList[@idx].holidayClassCode" class="form-control holidayClass" >
          <option value="0"></option>
          @hcmList.map{ hcm =>
          <option value="@hcm.code">@hcm.codeType</option>
          }
          @if(existsDefaultValue){
          <script>
                    var holidayClass = '@inputForm.get().attendanceInputFormList.get(idx).holidayClassCode';
                    if(holidayClass != 0){
                      var targetHolidayClass = "#holidayClass@idx"
                      $(targetHolidayClass).val(holidayClass)
                    }
                    </script>
          }
        </select>
      </td>
      <td> <label>深夜作業</label></td>
      <td> <input type="number" readonly="readonly" id="nightWork" class="form-control nightWork" value="0"></td>
      <td> <label>有給割当</label></td>
      <td> <input type="number" readonly="readonly" id="salaried" class="form-control salaried" value="0"></td>
      <td> <label>備考</label></td>
      <td colspan="2"> <input type="text" id="remarks" name="attendanceInputFormList[@idx].remarks" class="form-control" @if(existsDefaultValue){ value="@inputForm.get().attendanceInputFormList.get(idx).remarks" }> </td>
    </tr>
    -->
    }
    <tr>
      <td colspan="3">TOTAL</td>
      <td> <div id="sumBreakdown1" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumBreakdown1}</div></td>
      <td> <div id="sumBreakdown2" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumBreakdown2}</div></td>
      <td> <div id="sumBreakdown3" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumBreakdown3}</div></td>
      <td> <div id="sumBreakdown4" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumBreakdown4}</div></td>
      <td> <div id="sumDeductionNight" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumDeductionNight}</div></td>
      <td> <div id="sumDeductionOther" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumDeductionOther}</div></td>
      <td> <div id="sumNightWork" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumNightWork}</div></td>
      <td> <div id="sumSalaried" class="form-control">@if(existsDefaultValue){@attendanceSumForm.sumSalaried}</div></td>
      <td> <div></div></td>
      <td> <div id="sumPerformanceTime" class="form-control"></div>@if(existsDefaultValue){@attendanceSumForm.sumPerformanceTime}</td>
      <td> <div></div></td>
    </tr>
    </tbody>
    </tbody>
  </table>


</div>
<footer id="footer">
  <strong>
    @Messages.get("footer")
  </strong>
</footer>
</body>
</html>
