@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String,empNo: String,empName:String,authClass:String)(content: Html)
<!DOCTYPE html>
<html lang="ja">
    <head>
        @* Here's where we render the page title `String`. *@
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--<meta name="viewport" content="target-densitydpi=device-dpi, width=640, maximum-scale=1.0, user-scalable=yes">-->
      <meta name="viewport" content="width=device-width, initial-scale=0.75">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("adminlte/css/AdminLTE.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("themes/css/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("themes/css/bootstrap-theme.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("jquery-timepicker-master/jquery.timepicker.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("datetimepicker-master/jquery.datetimepicker.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("datatables/datatables.min.css")"/>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("jquery/js/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("themes/js/bootstrap.js")"></script>
        <script src="@routes.Assets.versioned("themes/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js")"></script>
        <script src="@routes.Assets.versioned("jquery-timepicker-master/jquery.timepicker.js")"></script>
        <script src="@routes.Assets.versioned("jquery-timepicker-master/jquery.timepicker.min.js")"></script>
        <script src="@routes.Assets.versioned("datetimepicker-master/jquery.datetimepicker.js")"></script>
        <script src="@routes.Assets.versioned("datetimepicker-master/jquery.datetimepicker.min.js")"></script>
        <script src="@routes.Assets.versioned("datetimepicker-master/build/jquery.datetimepicker.full.min.js")"></script>
        <script src="@routes.Assets.versioned("jquery/js/jquery.pjax.min.js")"></script>
        <script src="@routes.Assets.versioned("datatables/datatables.min.js")" type="text/javascript"></script>
        <style>
          html, body{
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: "Hiragino Kaku Gothic ProN","メイリオ","Meiryo UI",'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif!important;
            -webkit-text-size-adjust: 100%;
          }
        </style>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
       @import play.i18n._

       <section class="content-header" id="header">
         <h1><i class="fa fa-list-alt"></i> @messages.at("title")
         <button type="button" id="logoutBtn" class="btn btn-default pull-right" style="margin-bottom: 10px;">
          <span class="glyphicon glyphicon-log-out"></span> ログアウト</button>
         <span style="font-size:15px; margin-right:10px; margin-bottom: 10px;">@messages.at("header.name",empNo,empName)</span>
         @if(authClass=="03"){
         <button type="button" id="pageoutBtn" class="btn btn-default pull-right" style="margin-bottom: 10px; margin-right: 5px;">
          <span class="glyphicon glyphicon-th-list"></span> 管理者メニュー</button>
         }
         </h1>
         <div id="menu">
		<span class="hidden fixRemand label label-danger fa fa-exclamation-triangle"> @messages.at("approve.form.alreadyFixRemand")あり</span>
		</div>
       </section>
       <div id="container">
	       <div id="loader-bg">
				<div id="loader">
					<img src="@routes.Assets.versioned("images/load.gif")" width="80" height="80" alt="Loading..." />
					<p>Loading...</p>
				</div>
		   </div>
		   <script>
		   $(function(){
			// ログアウト
	        $("#logoutBtn").click(function () {
		      	var url = '@routes.AuthCtl.logout'
		      	$.ajax({
		        	type : 'GET',
			        url : url,
			        success : function(data) {
			          if (data.result == "ok") {
			            window.location.href = data.link;
			          }
			        }
		      	});
		    });
			// 管理者ページへ
	        $("#pageoutBtn").click(function () {
		      	var url = '@routes.AuthCtl.menuRedirect()'
		      	$.ajax({
		        	type : 'GET',
			        url : url,
			        success : function(data) {
			          if (data.result == "ok") {
			            window.location.href = data.link;
			          }
			        }
		      	});
		    });
			// 差戻しデータの表示
			  $(function() {
				  $('span').hover(function() {
				    $(this).next('p').show();
				  }, function(){
				    $(this).next('p').hide();
				    });
 				  });
				  $(".fixRemand").each(function () {
					 var url = '@routes.AttendanceCtl.isApproveRemand';
				   	 $.ajax({
				        type : 'GET',
				        url : url,
				     	success : function(data) {
				          if(data.result == "ok"){
				        	$(".fixRemand").removeClass("hidden");
				        	var dataList = data.value;
				        	var count = 0;
				        	$.each(dataList, function(key, obj) {
	            				$.each(obj, function(monthyears, date) {
        							count = count+1;
		            				var msgContents = '<p class= "arrow_box">' + monthyears + '　' + count + '件';
			      					$(".fixRemand").after(msgContents);
					            });
					        });
					      }else if(data.result == "ng"){
							$(".fixRemand").addClass("hidden");
				          }else{
						  	alert('却下データ取得中にエラーが発生しました');
				          }
				     	}
				   	 });
				  });
			  });

			// TODO 管理者メニューへ戻るときの表示
		   </script>
           @content
       </div>
       <footer id="footer">
         <strong>
         @messages.at("footer")
         </strong>
       </footer>
    </body>
</html>
