@(loginForm: Form[models.form.LoginForm],empNo: String, empName: String)
@import play.i18n._
@import helper._
@main(Messages.get("header.title","管理者メニュー"),empNo,empName) {
<style>
body {
background-color:#f8f8f8;
}
</style>
<section class="content">
 <div class="login-box">
    <h2>管理者メニュー</h2>
  <div class="login-box-body">
   @form(action = routes.AuthCtl.menuAttendance, 'id -> "attendance") {
   	  <h4><p>・<a id="attendanceBtn" class="cp_link">@Messages.get("attendance")</a></p></h4>
 　　}
   @form(action = routes.AuthCtl.menuApprove, 'id -> "approve") {
 	  <h4><p>・<a id="approveBtn" class="cp_link">@Messages.get("approve")</a></p></h4>
   }
  </div>
 </div>
</section>
<script>
  $(function() {
	$("#attendanceBtn").click(function () {
      $.postAjax('#attendance', function(data){
        if(data.result == "ok"){
          window.location.href = data.link;
        }
      });
    });

	$("#approveBtn").click(function () {
	  $.postAjax('#approve', function(data){
	    if(data.result == "ok"){
	      window.location.href = data.link;
	    }
	  });
	});

    $.postAjax = function(formId, callBack, url) {
      var form = (typeof formId == "string" ? $(formId) : formId);
      var accessUrl = null;
      try {
        if(form && form[0]) {
          accessUrl = url ? url : form.attr('action')
          $.ajax({
            url     : accessUrl,
            data    : form.serialize(),
            type    : "POST",
            success : function(data) {
              callBack(data);
            },
            complete : function() {
            }
          });
        }
      } catch(e) {
        alert('エラーが発生しました。');
      }
    };
    if(!navigator.userAgent.match(/(iPhone|iPod|Android)/)){
      $(".login-box").css("width", "500px");
    }
  });
</script>
}
