@(loginForm: Form[models.form.LoginForm],empNo: String, empName: String,year: String, month: String)
@import play.i18n._
@import helper._
@main(messages.at("header.title","管理者メニュー"),empNo,empName) {
<style>
body {
background-color:#f8f8f8;
}
</style>
<section class="content">
 <div class="login-box">
    <h2>管理者メニュー</h2>
  <div class="login-box-body">
   <h4><p>・<a class="cp_link" href="@routes.AttendanceCtl.index(empNo,year,month)">@messages.at("attendance")</a></p></h4>
   <h4><p>・<a class="cp_link" href="@routes.ApproveCtl.index(year,month)">@messages.at("approve")</a></p></h4>
   <h4><p>・<a class="cp_link" href="@routes.RegistEmpCtl.index">@messages.at("registemp")</a></p></h4>
  </div>
 </div>
</section>
<script>
  $(function() {

    $.postAjax = function(formId, callBack, url) {
      var form = (typeof formId == "string" ? $(formId) : formId);
      var accessUrl = null;
      try {
        if(form && form[0]) {
          accessUrl = url ? url : form.attr('action')
          $.ajax({
            url     : accessUrl,
            data    : form.serialize(),
            type    : "POST",
            success : function(data) {
              callBack(data);
            },
            complete : function() {
            }
          });
        }
      } catch(e) {
        alert('エラーが発生しました。');
      }
    };
    if(!navigator.userAgent.match(/(iPhone|iPod|Android)/)){
      $(".login-box").css("width", "500px");
    }
  });
</script>
}
