@(message: String)
@import play.i18n._
@import helper._
@main(Messages.get("overtimeList.title")) {
<style type="text/css">
/* === フィルタボタン ============================ */
.tfArea{
  display    : inline-block;
  position   : relative;
}
.tfImg{
  display    : inline-block;
  width      : 8px;
  height     : 8px;
  background : #eee;
  border     : 1px solid #777;
  margin     : 1px 3px;
  padding    : 3px;
  cursor     : pointer;
}
/* === フィルタボタン（カーソルオーバー時）======= */
.tfImg:hover{
  background : #FFD700;
}
/* === フィルタボタン内の画像色（SVG）============ */
.tfImg path{
  fill       : #777;
}
/* === フィルタリスト ============================ */
.tfList{
  display    : inline-block;
  position   : absolute;
  max-width  : 250px;
  min-width  : 140px;
  background : #fff;
  border     : 1px solid #777;
  top        : 15px;
  left       : 0;
  line-height: 1.1;
  font-weight: normal;
}
/* === フィルタリスト内のform ==================== */
.tfList form{
  max-height : 150px;           /* 縦幅 */
  overflow   : scroll;
  overflow   : overflow-y;
  overflow   : auto;
}
/* === フィルタリスト内のチェックボックス ======== */
.tfMeisai{
  text-align : left;
  padding    : 2px;
}
/* === フィルタリスト内の文字位置合わせ ========== */
.tfMeisai label{
  padding    : 0 10px 0 3px;
}
/* === OK/CANCELボタン =========================== */
.tfBtnArea{
  text-align : center;
  font-size  : 8pt;
  padding    : 3px 5px;
}
.tfBtnArea input{
  display    : inline-block;
  margin     : 0 5px;
}
/* === 含むボタンの入力エリア ==================== */
.tfInStr{
  padding    : 5px 3px;
  border-top : 1px solid #999;
  border-bottom: 1px solid #999;
}
.tfInStr input{
  box-sizing : border-box;
  width      : 100%;
  padding    : 1px 3px;
  font-weight: normal;
  font-size  : 95%;
  border     : 1px solid #ccc;
}
/* === フィルタ非表示 ============================ */
#sampleTable tr[cmanFilterNone]{
  display    : none;
}
/* === フィルタ非表示行と次行の間を二重線にする == */
#sampleTable tr[cmanFilterNone] + tr td{
  border-top : 3px double #777;
}
 /* --- （参考）テーブル全体のスタイル指定 ------- */
#sampleTable {
  width          : 100%;
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
#sampleTable th {
  text-align    : center;            /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  padding       : 3px 5px;          /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  background    : #99ccff;           /* 背景色     */
  white-space   : nowrap;
}
 /* --- 明細のスタイル指定 ----------------------- */
#sampleTable td {
  text-align    : center;            /* 文字位置   */
  padding       : 3px 5px;           /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  white-space   : nowrap;
}
</style>
<script type="text/javascript">
 //===============================================================
 //  フィルタテーブルの共通変数　設定要！
 //===============================================================
var gTabldID = 'data';  // テーブルのエリアのIDを設定
var gTfStartRow = 0;
var gTfColList  = [];             // ボタンが配置されている列番号
var gTfListSave = {};             // フィルタリストの保存状態
 
 //===============================================================
 //  オンロードでテーブル初期設定関数をCALL
 //===============================================================
window.onload = function() {
  tFilterInit();
}

function tFilterInit(){
 //==============================================================
 //  テーブルの初期設定
 //==============================================================
  var wTABLE  = document.getElementById(gTabldID);
  var wTR     = wTABLE.rows;
  var wAddBtn = '';
 
  // ------------------------------------------------------------
  //   テーブル内をフィルタボタンを付ける
  // ------------------------------------------------------------
  for(var i=0; i < wTR.length; i++){
 
    var wTD     = wTABLE.rows[i].cells;
 
    for(var j=0; j < wTD.length; j++){
 
      // --- 「cmanFilterBtn」の定義があるセルを対象とする ------
      if(wTD[j].getAttribute('cmanFilterBtn') !== null){
 
        // --- フィルタ対象はボタンの次の行から -----------------
        gTfStartRow = i + 1;
 
        // --- ボタンを追加（画像はsvgを使用） ------------------
        wAddBtn  = '<div class="tfArea">';
        wAddBtn += '<svg class="tfImg" id="tsBtn_'+j+'" onclick="tFilterCloseOpen('+j+')"><path d="M0 0 L9 0 L6 4 L6 8 L3 8 L3 4Z"></path></svg>';
        wAddBtn += '<div class="tfList" id="tfList_'+j+'" style="display:none">';
        wAddBtn += tFilterCreate(j);
        wAddBtn += '</div>';
        wAddBtn += '</div>';
        wTD[j].innerHTML = wTD[j].innerHTML+wAddBtn;
 
        // --- フィルタボタンなる列を保存 -----------------------
        gTfColList.push(j);
      }
    }
 
    // --- ボタンを付けたら以降の行は無視する -------------------
    if(wAddBtn != ''){
      gSortBtnRow = i;
      break;
    }
 
  }
}

function tFilterCreate(argCol){
 //==============================================================
 //  指定列のフィルタリスト作成
 //==============================================================
 
  var wTABLE    = document.getElementById(gTabldID);
  var wTR       = wTABLE.rows;
  var wItem     = [];              // クリックされた列の値
  var wNotNum   = 0;               // 1 : 数字でない
  var wItemSave = {};              // フィルタに設定した値がキー
  var rcList    = '';              // 返すフィルタリスト
 
  // ------------------------------------------------------------
  //  クリックされた列の値を取得する
  // ------------------------------------------------------------
  for(var i=gTfStartRow; i < wTR.length; i++){
    var j = i - gTfStartRow;
 
    wItem[j] = wTR[i].cells[argCol].innerText.toString();
 
    if(wItem[j].match(/^[-]?[0-9,\.]+$/)){
    }else{
        wNotNum = 1;
    }
 
  }
 
  // ------------------------------------------------------------
  //  列の値でソートを実行
  // ------------------------------------------------------------
    if(wNotNum == 0){
      wItem.sort(sortNumA);           // 数値で昇順
    }else{
      wItem.sort(sortStrA);           // 文字で昇順
    }
 
  // ------------------------------------------------------------
  //  「すべて」のチェックボックス作成
  // ------------------------------------------------------------
  var wItemId =  id='tfData_ALL_'+argCol;
 
  rcList += '<div class="tfMeisai">';
  rcList += '<input type="checkbox" id="'+wItemId+'" checked onclick="tFilterAllSet('+argCol+')">';
  rcList += '<label for="'+wItemId+'">(すべて)</label>';
  rcList += '</div>';
 
  // ------------------------------------------------------------
  //  列の値でフィルタのチェックボックスを作成する
  //    チェックボックスはformで囲む
  // ------------------------------------------------------------
  rcList += '<form name="tfForm_'+argCol+'">';
 
  for(var i=0; i < wItem.length; i++){
 
    wVal = trim(wItem[i]);
 
    if(wVal in wItemSave){
      // ---値でチェックボックスが作成されている(重複) ----------
    }else{
 
      // ---チェックボックスの作成 ------------------------------
      wItemId =  id='tfData_'+argCol+'_r'+i;
      rcList += '<div class="tfMeisai">';
      rcList += '<input type="checkbox" id="'+wItemId+'" value="'+wVal+'" checked onclick="tFilterClick('+argCol+')">';
      rcList += '<label for="'+wItemId+'">'+( wVal=='' ? '(空白)' : wVal )+'</label>';
      rcList += '</div>';
 
      // ---重複判定用にチェックボックスの値を保存 --------------
      wItemSave[wVal]='1';
    }
  }
  rcList += '</form>';
 
  // ------------------------------------------------------------
  //  文字抽出のinputを作成
  // ------------------------------------------------------------
  rcList += '<div class="tfInStr">';
  rcList += '<input type="text" placeholder="含む文字抽出" id="tfInStr_'+argCol+'">';
  rcList += '</div>';
 
  // ------------------------------------------------------------
  //  「OK」「Cancel」ボタンの作成
  // ------------------------------------------------------------
  rcList += '<div class="tfBtnArea">';
  rcList += '<input type="button" value="OK" onclick="tFilterGo()">';
  rcList += '<input type="button" value="Cancel" onclick="tFilterCancel('+argCol+')">';
  rcList += '</div>';
 
  // ------------------------------------------------------------
  //  作成したhtmlを返す
  // ------------------------------------------------------------
  return rcList;
 
}

function tFilterClick(argCol){
 //==============================================================
 //  フィルタリストのチェックボックスクリック
 //    「すべて」のチェックボックスと整合性を合わせる
 //==============================================================
  var wForm   = document.forms['tfForm_'+argCol];
  var wCntOn  = 0;
  var wCntOff = 0;
  var wAll    = document.getElementById('tfData_ALL_'+argCol);   // 「すべて」のチェックボックス
 
  // --- 各チェックボックスの状態を集計する ---------------------
  for (var i = 0; i < wForm.elements.length; i++){
    if(wForm.elements[i].type == 'checkbox'){
      if (wForm.elements[i].checked) { wCntOn++;  }
      else                           { wCntOff++; }
    }
  }
 
  // --- 各チェックボックス集計で「すべて」を整備する -----------
  if((wCntOn == 0)||(wCntOff == 0)){
    wAll.checked = true;             // 「すべて」をチェックする
    tFilterAllSet(argCol);           // 各フィルタのチェックする
  }else{
     wAll.checked = false;           // 「すべて」をチェックを外す
  }
}

function tFilterCancel(argCol){
 //==============================================================
 //  キャンセルボタン押下
 //==============================================================
 
  tFilterSave(argCol, 'load');    // フィルタ条件の復元
  tFilterCloseOpen('');           // フィルタリストを閉じる
 
}

function tFilterGo(){
 //===============================================================
 //  フィルタの実行
 //===============================================================
  var wTABLE  = document.getElementById(gTabldID);
  var wTR     = wTABLE.rows;
 
  // ------------------------------------------------------------
  //  全ての非表示を一旦クリア
  // ------------------------------------------------------------
  for(var i = 0; i < wTR.length; i++){
    if(wTR[i].getAttribute('cmanFilterNone') !== null){
      wTR[i].removeAttribute('cmanFilterNone');
    }
  }
 
  // ------------------------------------------------------------
  //  フィルタボタンのある列を繰り返す
  // ------------------------------------------------------------
  for(var wColList = 0; wColList < gTfColList.length; wColList++){
    var wCol       = gTfColList[wColList];
    var wAll       = document.getElementById('tfData_ALL_'+wCol);     // 「すべて」のチェックボックス
    var wItemSave  = {};
    var wFilterBtn =  document.getElementById('tsBtn_'+wCol);
    var wFilterStr =  document.getElementById('tfInStr_'+wCol);
 
    var wForm      = document.forms['tfForm_'+wCol];
    // -----------------------------------------------------------
    //  チェックボックスの整備（「すべて」の整合性）
    // -----------------------------------------------------------
    for (var i = 0; i < wForm.elements.length; i++){
      if(wForm.elements[i].type == 'checkbox'){
        if (wForm.elements[i].checked) {
          wItemSave[wForm.elements[i].value] = 1;      // チェックされている値を保存
        }
      }
    }
 
    // -----------------------------------------------------------
    //  フィルタ（非表示）の設定
    // -----------------------------------------------------------
    if((wAll.checked)&&(trim(wFilterStr.value) == '')){
      wFilterBtn.style.backgroundColor = '';              // フィルタなし色
    }
    else{
      wFilterBtn.style.backgroundColor = '#ffff00';       // フィルタあり色
 
      for(var i=gTfStartRow; i < wTR.length; i++){
 
        var wVal = trim(wTR[i].cells[wCol].innerText.toString());
 
        // --- チェックボックス選択によるフィルタ ----------------
        if(!wAll.checked){
          if(wVal in wItemSave){
          }
          else{
            wTR[i].setAttribute('cmanFilterNone','');
          }
        }
 
        // --- 抽出文字によるフィルタ ----------------------------
        if(wFilterStr.value != ''){
          reg = new RegExp(wFilterStr.value);
          if(wVal.match(reg)){
          }
          else{
            wTR[i].setAttribute('cmanFilterNone','');
          }
        }
      }
    }
  }
 
  tFilterCloseOpen('');
}

function tFilterSave(argCol, argFunc){
 //==============================================================
 //  フィルタリストの保存または復元
 //==============================================================
 
  // ---「すべて」のチェックボックス値を保存 ------------------
  var wAllCheck = document.getElementById('tfData_ALL_'+argCol);
  if(argFunc == 'save'){
    gTfListSave[wAllCheck.id] = wAllCheck.checked;
  }else{
    wAllCheck.checked = gTfListSave[wAllCheck.id];
  }
 
  // --- 各チェックボックス値を保存 ---------------------------
  var wForm    = document.forms['tfForm_'+argCol];
  for (var i = 0; i < wForm.elements.length; i++){
    if(wForm.elements[i].type == 'checkbox'){
      if(argFunc == 'save'){
        gTfListSave[wForm.elements[i].id] = wForm.elements[i].checked;
      }else{
        wForm.elements[i].checked = gTfListSave[wForm.elements[i].id];
      }
    }
  }
 
  // --- 含む文字の入力を保存 ---------------------------------
  var wStrInput = document.getElementById('tfInStr_'+argCol);
  if(argFunc == 'save'){
    gTfListSave[wStrInput.id] = wStrInput.value;
  }else{
    wStrInput.value = gTfListSave[wStrInput.id];
  }
}

function tFilterCloseOpen(argCol){
 //==============================================================
 //  フィルタを閉じて開く
 //==============================================================
 
  // --- フィルタリストを一旦すべて閉じる -----------------------
  for(var i=0; i < gTfColList.length; i++){
    document.getElementById("tfList_"+gTfColList[i]).style.display = 'none';
  }
 
  // --- 指定された列のフィルタリストを開く ---------------------
  if(argCol != ''){
    document.getElementById("tfList_"+argCol).style.display = '';
 
    // --- フィルタ条件の保存（キャンセル時に復元するため） -----
    tFilterSave(argCol, 'save');
 
  }
}

function tFilterAllSet(argCol){
 //==============================================================
 //  「すべて」のチェック状態に合わせて、各チェックをON/OFF
 //==============================================================
  var wChecked = false;
  var wForm    = document.forms['tfForm_'+argCol];
 
  if(document.getElementById('tfData_ALL_'+argCol).checked){
    wChecked = true;
  }
 
  for (var i = 0; i < wForm.elements.length; i++){
    if(wForm.elements[i].type == 'checkbox'){
      wForm.elements[i].checked = wChecked;
    }
  }
}

function sortNumA(a, b) {
 //==============================================================
 //  数字のソート関数（昇順）
 //==============================================================
  a = parseInt(a.replace(/,/g, ''));
  b = parseInt(b.replace(/,/g, ''));
 
  return a - b;
}

function sortStrA(a, b){
 //==============================================================
 //  文字のソート関数（昇順）
 //==============================================================
  a = a.toString().toLowerCase();  // 英大文字小文字を区別しない
  b = b.toString().toLowerCase();
 
  if     (a < b){ return -1; }
  else if(a > b){ return  1; }
  return 0;
}

function trim(argStr){
 //==============================================================
 //  trim
 //==============================================================
  var rcStr = argStr;
  rcStr	= rcStr.replace(/^[ 　\r\n]+/g, '');
  rcStr	= rcStr.replace(/[ 　\r\n]+$/g, '');
  return rcStr;
}
</script>
<br>
  <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h2>@Messages.get("overtimeList.pagetitle")</h2>
      </div>

<!-- PDFボタン用script start -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.extablefilter-latest.js"></script>
<!-- PDFボタン用script end -->

<section class="content">

<!-- ためしでべた書きテーブルを作成 2018.04.04 -->
	<br>年度
	<select name="year">
		<option value="2018">2018年度</option>
		<option value="2017">2017年度</option>
		<option value="2016">2016年度</option>
	</select>
	<button type="button">
	 	更新
	</button>
    <button type="button" class="btn btn-primary pdf" style="margin-right: 10px" onClick="window.open('@routes.OutputPdfCtl.outputPdf','_blank','')">
		<i class="fa fa-file-text"></i>
              PDF出力
    </button>
	<br>
	<br>
	<div>
        <table id="data" class="table table-bordered">
          <thead style="background: #d3e5ff;">
          <tr>
            <th cmanFilterBtn>社員番号</th>
            <th cmanFilterBtn>氏名</th>
            <th class="table-filterable">部署</th>
            <th class="table-filterable">役職</th>
            <th class="table-filterable">業務コード</th>
            <th class="table-filterable">業務名</th>
            <th class="table-filterable">チームリーダー</th>
            <th class="table-filterable">4月</th>
            <th class="table-filterable">5月</th>
            <th class="table-filterable">6月</th>
            <th class="table-filterable">7月</th>
            <th class="table-filterable">8月</th>
            <th class="table-filterable">9月</th>
            <th class="table-filterable">10月</th>
            <th class="table-filterable">11月</th>
            <th class="table-filterable">12月</th>
            <th class="table-filterable">1月</th>
            <th class="table-filterable">2月</th>
            <th class="table-filterable">3月</th>
            <th class="table-filterable">45時間以上回数</th>
            <th class="table-filterable">平均残業時間</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>00229</td>
            <td>大塚果穂</td>
            <td>SSC</td>
            <td>-</td>
            <td>社内運用保守</td>
            <td>社内運用保守</td>
            <td>高橋康太</td>
            <td>10</td>
            <td>12</td>
            <td>20</td>
            <td>30</td>
            <td style="color:#ff4500">50</td>
            <td>13</td>
            <td>32</td>
            <td>15</td>
            <td>18</td>
            <td>22</td>
            <td>29</td>
            <td>32</td>
            <td>1</td>_pl
            <td>23.6</td>
          </tr>
          <tr>
            <td>00232</td>
            <td>宮崎慎也</td>
            <td>第1SI-2</td>
            <td>-</td>
            <td>基金</td>
            <td>基金</td>
            <td>三上和</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>0</td>
            <td>6.5</td>
          </tr>
          </tbody>
        </table>
	</div>
</section>
}
