@(sesEmpNo: String, sesEmpName: String, sesAuthClass: String,
year: String, month: String, appFormList: List[models.form.OvertimeListForm],yearList: List[models.MsGeneralCode])
@import play.i18n._
@import helper._
        @javascriptRouter("jsRoutes")(
        	routes.javascript.ApproveCtl.moveTargetYearMonth,
        	routes.javascript.ApproveCtl.moveAttendanceByApprove,
        	routes.javascript.OvertimeListCtl.index
        )
@main(messages.at("header.title","残業一覧"),sesEmpNo,sesEmpName,sesAuthClass) {
<section class="content">
<script src="@routes.Assets.versioned("javascripts/overtime_list.js")" type="text/javascript"></script>
<input type="hidden" id="month" name="month" value="@month">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-10 col-sm-10 col-xs-12">
        <h2><i class="fa fa-pencil-square-o"></i> @messages.at("titleDate.year",year)</h2>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  margin-bottom">
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline">
     <!--        <button type="button" class="btn btn-info pdfBtn" style="margin-right: 10px">
              <i class="fa fa-file-text"></i>
              @messages.at("attendance.pdf")
            </button>  -->
            <div class="pull-right hidden-xs">
              <label>@messages.at("moveYear")</label>
            <select name="moveYear">
            <option value="">---</option>
            	@yearList.map{ yl =>
                    <option value="@yl.targetYear">@yl.targetYear 年度</option>
                  }
                 <script>
                    if(@year != ""){$("#year").val(@year)}
                 </script>
			</select>
			            </div>
          </div>
        </div>
      </div>
	<div>
        <table id="data" class="table table-bordered">
          <thead style="background: #d3e5ff;">
          <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th class="table-filterable">役職</th>
            <th class="table-filterable">業務コード</th>
            <th class="table-filterable">チームリーダー</th>
             <th>残業時間</th>
<!--             <th class="table-filterable">4月</th>
            <th class="table-filterable">5月</th>
            <th class="table-filterable">6月</th>
            <th class="table-filterable">7月</th>
            <th class="table-filterable">8月</th>
            <th class="table-filterable">9月</th>
            <th class="table-filterable">10月</th>
            <th class="table-filterable">11月</th>
            <th class="table-filterable">12月</th>
            <th class="table-filterable">1月</th>
            <th class="table-filterable">2月</th>
            <th class="table-filterable">3月</th>
            <th class="table-filterable">45時間以上回数</th>
            <th class="table-filterable">平均残業時間</th> -->
          </tr>
          </thead>
          <tbody>
          @for(app <- appFormList ){
	          <tr id="@app.employeeNo">
	         	 <input type="hidden" id="employeeNo@app.employeeNo" name="employeeNo" value="@app.employeeNo">
	              <input type="hidden" id="monthsYears@app.employeeNo" name="monthsYears" value="@app.monthsYears">
	            <td>@app.employeeNo</td>
	            <td>@app.employeeName</td>
	            <td>@app.positionName</td>
	            <td>@app.workCode</td>
	            <td>@app.teamLeader</td>
	            <td>@app.overTime</td>
			</tr>
			}
          </tbody>
        </table>
	</div>
	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  margin-bottom">
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline">
    <!--         <button type="button" class="btn btn-info pdfBtn" style="margin-right: 10px">
              <i class="fa fa-file-text"></i>
              @messages.at("attendance.pdf")
            </button>  -->
            <div class="pull-right hidden-xs">
              <label>@messages.at("moveYear")</label>
            <select name="year">
            <option value="">---</option>
            	@yearList.map{ yl =>
                    <option value="@yl.targetYear">@yl.targetYear 年度</option>
                  }
                 <script>
                    if(@year != ""){$("#year").val(@year)}
                 </script>
			</select>
			</div>
          </div>
        </div>
      </div>
	</div>
	</div>
</section>
}
