@(sesEmpNo: String, sesEmpName:String,registEmpForm: Form[models.form.RegistEmpForm])
@import play.i18n._
@import helper._
@main(messages.at("header.title","社員情報登録"),sesEmpNo,sesEmpName) {
<section class="content">
 @form(action = routes.RegistEmpCtl.registEmp, 'id -> "registEmpForm") {
 <div class="registEmp-box">
  <div class="registEmp-box-body">
   <h2>社員情報登録</h2>
   <p class="error text-danger errorMsg"></p>
   <p class="error text-danger errorMsg2"></p>
   <p class="error text-danger errorEmpNo"></p>
   <p class="error text-danger errorEmpName"></p>
   @inputText(registEmpForm("employeeNo"), 'class -> "form-control", 'placeholder -> "社員番号を入力してください。", '_label ->"社員番号" ,'_showConstraints -> false)
   @inputText(registEmpForm("employeeName"), 'class -> "form-control", 'placeholder -> "社員名を入力してください。", '_label ->"社員名" ,'_showConstraints -> false)
   <button type="button" class="btn btn-info" id="registEmpBtn">登録</button>
  </div>
 </div>
 }
</section>
<script>
  $(function() {
    $("#registEmpBtn").click(function () {
      $(".error").empty();
      $.postAjax('#registEmpForm', function(data){
        if(data.result == "ok"){
          alert('成功');
        }else{
          $(".errorMsg").text(data.msg1);
          $(".errorMsg2").text(data.msg2);
          $(".errorEmpNo").text(data.errorEmpNo);
          $(".errorEmpName").text(data.errorEmpName);
        }
      });
    });

    $.postAjax = function(formId, callBack, url) {
      var form = (typeof formId == "string" ? $(formId) : formId);
      var accessUrl = null;
      try {
        if(form && form[0]) {
          accessUrl = url ? url : form.attr('action')
          $.ajax({
            url     : accessUrl,
            data    : form.serialize(),
            type    : "POST",
            success : function(data) {
              callBack(data);
            },
            complete : function() {
            }
          });
        }
      } catch(e) {
        alert('エラーが発生しました。');
      }
    };
    if(!navigator.userAgent.match(/(iPhone|iPod|Android)/)){
      $(".registEmp-box").css("width", "500px");
    }
  });
</script>
}
