@(sesEmpNo: String, sesEmpName: String, sesAuthClass: String,
	registEmpForm: Form[models.form.RegistEmpForm],
	positionList: List[models.MsGeneralCode],
	departList: List[models.MsGeneralCode], divisionList: List[models.MsGeneralCode],
	businessList: List[models.MsGeneralCode], businessTeamList: List[models.MsGeneralCode],
	registEmpFormList: List[models.form.RegistEmpForm]
	)
@import play.i18n._
@import helper._
        @javascriptRouter("jsRoutes")(
        	routes.javascript.RegistEmpCtl.passwordReissue,
            routes.javascript.AttendanceCtl.getBusinessTeamList,
            routes.javascript.AttendanceCtl.getDivisionList,
            routes.javascript.RegistEmpCtl.registEmpCheck,
            routes.javascript.RegistEmpCtl.deleteEmp
        )
@main(messages.at("header.title","ユーザ情報登録"),sesEmpNo,sesEmpName,sesAuthClass) {
<section class="content">
<script src="@routes.Assets.versioned("javascripts/regist_emp.js")" type="text/javascript"></script>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <h2>@messages.at("registemp")</h2>
       <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 well">
        @form(action = routes.RegistEmpCtl.registEmpCheck, 'id -> "registEmpForm") {
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h3>@messages.at("attendance.yourStatus")</h3>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.employeeNo")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text"  name="employeeNo" class="form-control" value="@registEmpForm.get().employeeNo" placeholder="00000">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.employeeName")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="employeeName" class="form-control" value="@registEmpForm.get().employeeName" placeholder="田中 太郎">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.employeeName")カナ
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text"  name="employeeNameKana" class="form-control" value="@registEmpForm.get().employeeNameKana" placeholder="タナカ タロウ">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <div class="form-check">
                  <label class="col-md-12 col-sm-12 col-xs-12 form-check-label">@messages.at("registemp.employmentClass")</label>
                  <label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="radio" id="empClass01" name="employmentClass" class="form-check-input" checked value="01">
                    <label for="empClass01">@messages.at("registemp.employmentClass.employment")</label>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
					<input type="radio" id="empClass02" name="employmentClass" class="form-check-input" value="02">
					<label for="empClass02">@messages.at("registemp.employmentClass.subcontractor")</label>
				  </div>
				  </label>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
              <div class="form-check">
                  <label class="col-md-12 col-sm-12 col-xs-12 form-check-label">@messages.at("registemp.authorityClass")</label>
                  <label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
					<input type="radio" id="authClass05" name="authorityClass" class="form-check-input" checked value="05">
					<label for="authClass05">@messages.at("absent")</label>
				  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="radio" id="authClass03" name="authorityClass" class="form-check-input" value="03">
                    <label for="authClass03">@messages.at("present")</label>
                  </div>
                  </label>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">@messages.at("registemp.position")</label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                  <select id="positionCode" name="positionCode" class="form-control positionCode" required>
				  <option value="00" disabled selected>@messages.at("absent")</option>
				  @positionList.map{ list =>
                    <option value="@list.code">@list.codeName</option>
                  }
                    <script>
                    var positionCode = '@registEmpForm.get().positionCode';
                    if(positionCode != ""){
                      var target = "#positionCode"
                      $(target).val(positionCode)
                    }
                    </script>
				  </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.department")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                  <select id="departmentCode" name="departmentCode" class="form-control departmentCode changeDepartmentCd">
				  <option value="00" disabled selected>@messages.at("notApplicable")</option>
				  @departList.map{ dpl =>
                    <option value="@dpl.code">@dpl.codeName</option>
                  }
                    <script>
                    var departmentCode = '@registEmpForm.get().departmentCode';
                    if(departmentCode != ""){
                      var target = "#departmentCode"
                      $(target).val(departmentCode)
                    }
                    </script>
				  </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.division")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
					<select id="divisionCode" class="division form-control" name="divisionCode" required>
					<option value="00" disabled selected>@messages.at("notApplicable")</option>
					@divisionList.map{ dvl =>
                      <option value="@dvl.code">@dvl.codeName</option>
                    }
	                    <script>
	                    var divisionCode = '@registEmpForm.get().divisionCode';
	                    if(divisionCode != ""){
	                      var target = "#divisionCode"
	                      $(target).val(divisionCode)
	                    }
	                    </script>
					</select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.workName") <small style="red">複数選択可</small>
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
	                <select id="businessCode" name="businessCode[]" class="form-control businessCode changeBusinessCd businessCode" multiple>
					  <option value="00" disabled selected>@messages.at("notApplicable")</option>
					  @businessList.map{ dpl =>
	                    <option value="@dpl.code">@dpl.codeName</option>
	                  }
	                    <script>
	                    var businessCode = '@registEmpForm.get().businessCode';
	                    if(businessCode != ""){
	                      var target = "#businessCode"
	                      $(target).val(businessCode)
	                    }
	                    </script>
					</select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.workTeamName")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
	                 <select id="businessTeamCode" class="businessTeamCode form-control" name="businessTeamCode" multiple>
					  <option value="00" disabled selected>@messages.at("notApplicable")</option>
					  @businessTeamList.map{ dvl =>
	                     <option value="@dvl.code">@dvl.codeName</option>
	                  }
	                    <script>
	                    var businessTeamCode = '@registEmpForm.get().businessTeamCode';
	                    if(businessTeamCode != ""){
	                      var target = "#businessTeamCode"
	                      $(target).val(businessTeamCode)
	                    }
	                    </script>
					 </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h3>@messages.at("attendance.workingContents")</h3>
                          <small>※勤怠入力画面にて修正可能です。</small>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.work1")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="breakdownName1" class="form-control" value="@registEmpForm.get().breakdownName1">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.work2")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="breakdownName2" class="form-control" value="@registEmpForm.get().breakdownName2">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.work3")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="breakdownName3" class="form-control" value="@registEmpForm.get().breakdownName3">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    @messages.at("attendance.work4")
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="breakdownName4" class="form-control" value="@registEmpForm.get().breakdownName4">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    パスワード再発行
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="div2"></div>
						<input type="button" value="ランダムで再発行" class="passClickBtn">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="registEmpBtn" class="btn btn-success" style="margin-top: 15px;">
              <i class="fa fa-clipboard"></i> @messages.at("attendance.statusSave")
            </button>
              </div>
          </div>
           }
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
 		<table id="tabelData" class="table table-bordered">
          <thead style="background: #d3e5ff;">
          <tr>
          	<th width="6%">雇用区分</th>
          	<th width="8%">社員番号</th>
            <th width="10%">社員名</th>
            <th width="10%">社員名カナ</th>
            <th width="6%">役職</th>
            <th width="12%">所属部署</th>
            <th width="12%">所属課</th>
            <th width="10%">業務名</th>
            <th width="10%">業務チーム名</th>
            <th width="10%">承認権限</th>
          </tr>
          </thead>
          <tbody>
          @for(rel <- registEmpFormList ){
	          <tr id="@rel.employeeNo">
	         	 <input type="hidden" id="employeeNo-@rel.employeeNo" value="@rel.employeeNo">
	         	 <input type="hidden" id="employeeName-@rel.employeeNo" value="@rel.employeeName">
	         	 <input type="hidden" id="employeeNameKana-@rel.employeeNo" value="@rel.employeeNameKana">
	         	 <input type="hidden" id="authority-@rel.employeeNo" value="@rel.authorityClass">
	         	 <input type="hidden" id="employment-@rel.employeeNo" value="@rel.employmentClass">
	         	 <input type="hidden" id="position-@rel.employeeNo" value="@rel.positionCode">
	         	 <input type="hidden" id="department-@rel.employeeNo" value="@rel.departmentCode">
	         	 <input type="hidden" id="division-@rel.employeeNo" value="@rel.divisionCode">
	         	 <input type="hidden" id="business-@rel.employeeNo" value="@rel.businessCode">
	         	 <input type="hidden" id="businessTeam-@rel.employeeNo" value="@rel.businessTeamCode">
	         	<td>@rel.employmentClassName</td>
	            <td>@rel.employeeNo</td>
	            <td>@rel.employeeName</td>
	            <td>@rel.employeeNameKana</td>
	            <td>@rel.positionName</td>
	            <td>@rel.departmentName</td>
	            <td>@rel.divisionName</td>
	            <td class="hidden-xs">@rel.businessName</td>
	            <td class="hidden-xs">@rel.businessTeamName</td>
	            <td>@rel.authorityClassName</td>
		            <td><button id="editButton-@rel.employeeNo" type="button" class="btn btn-success editButton">編集</button></td>
		            <td><button id="deleteButton-@rel.employeeNo" type="button" class="btn btn-danger deleteButton">削除</button></td>
	          </tr>
			}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- TODO 社員編集ボタン処理 -->
<div class="hidden warn-msg">
  <p id="warn-msg-title"><i class="fa fa-exclamation-circle"></i>@messages.at("errorModal.message.header")</p>
  <div align="right">
    <small>@messages.at("errorModal.message.footer")</small>
  </div>
</div>
<div class="hidden success-msg fa fa-thumbs-o-up">
</div>
<!-- 登録前確認モーダル -->
<div class="modal fade" id="registModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>  確認</h4>
      </div>
      <div class="modal-body">
      <p class="messageTitle">保存しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary registModalBtn" data-dismiss="modal"> OK </button>
      </div>
    </div>
  </div>
</div>
<!-- 削除前確認モーダル -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i>  確認</h4>
      </div>
      <div class="modal-body">
        <p class="messageTitle">削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary deleteModalBtn" data-dismiss="modal"> OK </button>
      </div>
    </div>
  </div>
</div>
}